<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand custom-brand" routerLink="/">
      Shop<span>.</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mx-auto">

        <li class="nav-item">
          <a class="nav-link custom-link active" routerLink="/">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-link" href="#">
            Products
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-link" href="#">
            Categories
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link custom-link" href="#">
            About
          </a>
        </li>

      </ul>
     <div class="navbar-actions">
  <button (click)="cartService.toggleCart()" class="action-btn position-relative border-0 bg-transparent fs-4 text-dark">
    🛒
    @if (cartCount > 0) {
      <span class="cart-badge position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.6rem;">
        {{ cartCount }}
      </span>
    }
  </button>
</div>
    </div>
  </div>
</nav>

