  <div class="row g-3 mb-5">
    <!-- Search -->
    <div class="col-12 col-md-8">
      <div class="input-group">
        <span class="input-group-text bg-white">
          <i class="bi bi-search"></i>
        </span>

        <input
          type="text"
          class="form-control"
          placeholder="Search products..."
          [formControl]="searchControl"
        />
      </div>
    </div>
    <div class="col-12 col-md-4">
      <select class="form-select" [(ngModel)]="selectedCategory" (ngModelChange)="onFilterChange()">
        <option value="all">All Categories</option>

        @for (category of categories; track category) {
          <option [value]="category">
            {{ category }}
          </option>
        }
      </select>
    </div>
  </div>