@import '@angular/material/prebuilt-themes/azure-blue.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f5f5f5;
}